:not(.layout-fixed) .main-sidebar {
    height: 100vh;
    min-height: 100%;
    position: absolute;
    top: 0;
    overflow-x: hidden !important;
}

.btn-hidden{
    border: none !important;
    background-color: transparent !important;
}
.btn-hidden .fa{
    color: tomato;
    transform: scale(1.8);
}

.card-primary:not(.card-outline)>.card-header{
    background: #3f586e !important;
}
.active{
    background: #3f586e !important;
}
.btn-primary{
    color: #fff;
    background-color: #171f27 !important;
    border-color: #bac5d1 !important;
    box-shadow: none;
}
.btn-info{
    
    color: #fff;
    background-color: #003248 !important;
    border-color: #e7f3ff !important;
    box-shadow: none;

}
.btn-delete{
    background: #eb4848;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
}
.btn-edit{
    background: #0e3c61;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_button{
    background: #4e8aca;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}