select{
    position: relative;
    height: 50px;
    padding: 6px 30px;
    width: 100%;
    color: #222222;
    font-size: 16px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border: none;
    box-shadow: 0 0 30px #eee;
}

html{
    scroll-behavior: smooth;
}

.alert_success{
    background: #166bb3;
    color: white;
    box-shadow: 0px 4px 7px -2px #166bb3;
}

.full-width-header.home1-modifiy .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a.active{
    color: #21a7d0 !important;
}
.module_block{
    cursor: pointer;
}

.error_input_message{
    text-align: left;
    color: #dd3737;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.question{
    background: transparent;
    padding: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
.reponse input[type="radio"]{
    display: none;
}
.reponse input[type="radio"]:checked + label{
    border-left: 10px solid black;
}
.reponse label{
    background: white;
    padding: 25px;
    width: 100%;
    color: #203154;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px black;


}
.button_quiz{
    width: 100%;
    padding: 20px;
    border: none;
    background: #21a7d0;
    font-size: 1.2rem;
    color: white;
}

.button_quiz:hover{
    background: #06465ae3;
}

.quiz_message{
    padding: 0;
    margin: 0;
    color: #21a7d0;
    font-weight: bold;
    text-align: center;
}

.photo_label{
    background: white;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_file{
    display: none;
}

.btn-add{
    color: #ffffff;
    background: #21a7d0;
    padding: 0px 15px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

textarea{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #505050;
    width: 100%;
    display: block;
    border: none;
    /* height: 45px; */
    padding: 10px 18px;
    border-radius: 5px;
    box-shadow: 0 0 30px #eee;
}

.forum_block:hover{
    box-shadow: 0px 0px 4px 1px #21a7d0;
}

.comment{
    border-radius: 20px;
    background: #ffffff;
    color: #273c66 !important;
    border: 2px solid #273c66;
}

.comment_username{
    padding: 0px;
    margin: 0;
    margin-left: 11px;  
}
.comment_imageuser{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.forum_block{
    background: white;
    padding: 50px;
    border-radius: 25px;
}

.user{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.user img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 12px;
}
.user .name_date p{
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.nbr_comments{
    background: #273c66;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
    float: right;
}

.nbr_comments p{
    color: white !important;
    padding: 0 !important;
    margin: 0 !important;
}
.approval{
    width: 100%;
    background: #2977a7;
    color: white;
    padding: 20px;
    position: relative;
    left: 50%;
    /* top: 100px; */
    /* bottom: 100px; */
    transform: translate(-50%);
}

.logo_footer{

}
.module_title{
    width: 100%;
    background: #21a7d0;
    padding: 20px;
    position: relative;
    left: 15px;
    bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.name_profile{
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
}

.comment_button{
    flex-basis: 20%;
    height: 50px;
}

.comment_input{
    flex-basis: 80% !important;
    /* border-radius: 30px; */
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.comment_input textarea{
    box-shadow: none;
}

.card-primary.card-outline {
    border-top: 3px solid #343a40 !important;
}

.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out !important;
    width: 300px !important;
}
body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
    transition: margin-left .3s ease-in-out !important;
    
}

.main-header{
    
}
.instructor-title{
    width: max-content !important;
    font-size: 1.3rem !important;
}

.circle_score{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.circle_score .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background-color: #ffffff;
}
.congratulation{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.display_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_delete {
    border: 2px solid;
    border-color: #273c66;
    padding: 10px 50px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    background: #273c66;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 100%;
}
.form_delete_comment{
    border: 2px solid black;
    border-radius: 5px;
}
.form_delete_comment button .fa{
    color: #c32727;
    transform: scale(1.5);
}
.form_delete  button .fa{
    float: right !important;
    position: relative !important;
    left: 72px !important;
    transform: scale(1.8) !important;
    color: #b92b2b !important;
    bottom: 10px !important;

}

.name_d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.name_d h4{
    padding: 0;
    margin: 0;
}
.course-price{
    background: #273c66;
    text-align: center;
    color: white;
    padding: 15px;
}